<!DOCTYPE html>
<html>
<head>
    <title>AI Image Caption Generator</title>
</head>
<body>

    <h1>AI Image Caption Generator</h1>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <br><br>
        <button type="submit">Generate Caption</button>
    </form>
    {% if image %}
<hr>

<img src="{{ url_for('static', filename='uploads/' + image) }}"
     width="400">

<h2>Caption</h2>

<p>{{ caption }}</p>

{% endif %}

</body>
</html>